.messagewrapper{data: {message: {id: message.id}}}
  .namedata
    .name
      = message.user.name
    .data
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .messagecontents
    - if message.content.present?
      %p.messagecontent
        = message.content
        = image_tag message.image.url, class: 'messageimage' if message.image.present?