.side_bar
 .head
  .inner1
   .user
    masa
   .icon
    = link_to "#" do
     =icon("fas","edit", class: "editicon")
     =icon("fas","cog", class: "cogicon")
     
    
 .main
  .groups
   .inners
    .inner2
     techcamp
    .inner3
     まだメッセージはありません


