* {
  box-sizing: border-box;
}

.side_bar{
  background-color: red;
  height:100vh;
  width:300px;
  float:left;

  .head{
    background-color: #253141;
    height:100px;
    width:300px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
   .inner1{
     background-color:#253141;
     height:20px;
     width:calc(100% - 40px);
   }
    .user{
      background-color:#253141;
      color:white;
      float:left;
      height:100%;
      width:calc(100% - 60px);
    }
    .icons{
      background-color:#253141;
      display:flex;
      height:100%;
      width:60px;
      color:white;
    }
    .icon{
      padding-left:5px;
      color:white;
    }
     .editicon{
       text-decoration: none;
       color:#ffffff;
       float:right;
     }
   
     .cogicon{
      text-decoration: none;
      color:#ffffff;
      float:right;
      padding-right:5px;
    }
   
  .main1{
    background-color:#2f3e51;
    height:calc(100% - 100px);
    width:100%;
    overflow: scroll;
    
  }
   .groups{
     background-color: #2f3e51;
     height:91px;
     width:100%;
     
   }
   .inners{
    background-color: #2f3e51;
    position: relative;
    top:20px;
    }
  
    
    
     .inner2{
      text-decoration: none;
      background-color:#2f3e51;
      color:white;
      font-size:15px;
      height:15px;
      width:calc(100% - 40px);
      margin:0 auto;
      position:relative;

     }
    
     .inner3{
      text-decoration: none;
      background-color: #2f3e51;
      color:white;
      font-size:11px;
      height:11px;
      width:calc(100% - 40px);
      margin:0 auto;
      margin-top:5px;

     }
}
.main_chat{
  background-color: #fafafa;
  height:100vh;
  width:calc(100vw - 300px);
  float:right;
}
  .head{
    background-color: #ffffff;
    width:100%;
    height:100px;
  }

    .headcontents{
      background-color:#ffffff;
      height:100px;
      width:calc(100% - 80px);
      margin:0 auto;
    }
     .leftcontent{
       background-color:#2f3e51;
       float:left;
       position:relative;
       top:35px;
     }
      .text1{
        font-size:20px;
        color:#333333;
        background-color:#ffffff;
        padding-bottom:15px;
      }
      .text2{
        font-size:12px;
        color:#999999;
        background-color:#ffffff;
      }
    .rightcontent{
      background-color:#ffffff;
      float:right;
      padding-top:28px;
    }
     .text3{
       text-decoration: none;
       background-color:#ffffff;
       position:relative;
       height:40px;
       width:72px;
       display:flex;
       justify-content: center;
       align-items: center;
       font-size:16px;
       color:#38aef0;
       border:1px solid #38aef0;
     }
.main{
   background-color:#fafafa;
   height:calc(100% - 190px);
   width:100%;
   overflow: scroll;
 }
 .messagewrapper{
   background-color: #fafafa;
   padding-left:40px;
   padding-bottom:30px;
 }


 .namedata{
   background-color:#fafafa;
   display:flex;
 }
 .name{
   color:#333333;
   font-size:16px;
 }
 .data{
   color:#999999;
   font-size:12px;
   padding-left:10px;
 }
 
 .messagecontents{
   padding-top:10px;
 }
  

 .bottom{
   background-color:#d2d2d2;
   height:90px;
   width:100%;
   bottom:0;
   display:flex;
   justify-content: center;
   align-items: center;
 }
   .forms{
    width:calc(100% - 150px);
    background-color: #d2d2d2;
    height:100%
   }

    .typeform{
      background-color: white;
      height:50px;
      width:calc(100% - 40px);
      float:left;
      position: relative;
      top:20px;
     
    }
    .icon2{
      color:black;
      position:absolute;
      right:150px;
      bottom:35px;
    }
    .hidden{
      visibility: hidden;
    }



   

   .sendbtn{
     background-color: #38aef0;
     float:right;
     height:40px;
     width:50px;
     position: relative;
     bottom:45px;
     right:-20px;


   }










 

  
